@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-lexend: "Lexend", sans-serif;
  --color-primary: #101828;
  --color-accent: #2a2d3d;
  --color-complementary: #60a5fa;
  --color-green-base: #17454C;
  --color-dark-base: #103238;
  --color-light-base: #3F6D73;
  --color-lighter-base: #4F98A1;
  --breakpoint-2xl: 90rem;
  --breakpoint-xl: 80rem;
}

.custom-container {
  @apply mx-auto max-w-[1440px] px-4 md:px-6 md:py-2 lg:px-6 lg:py-4;
}

.hover-opacity {
  @apply transition-all duration-300 ease-in-out hover:opacity-70;
}

.hover-footer {
  @apply transition-all duration-300 ease-in-out hover:text-white;
}

.hover-utility {
  @apply transition-all duration-300 ease-in-out;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-green-base hidden lg:block;
}

.swiper-pagination>span {
  @apply bg-green-base;
}

html {
  font-family: "Lexend", sans-serif;
}