@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-lexend: "Lexend", sans-serif;
  --color-primary: #1c1f2c;
  --color-accent: #2a2d3d;
  --color-complementary: #60a5fa;
  --breakpoint-2xl: 90rem;
}

.custom-container {
  @apply mx-auto max-w-[1440px] px-4 md:px-6 md:py-2 lg:px-6 lg:py-4;
}

.hover-opacity {
  @apply transition-all duration-300 ease-in-out hover:opacity-70;
}

.hover-footer {
  @apply transition-all duration-300 ease-in-out hover:text-white;
}

.hover-utility {
  @apply transition-all duration-300 ease-in-out;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-primary hidden lg:block;
}

.swiper-pagination > span {
  @apply bg-primary;
}

html {
  font-family: "Lexend", sans-serif;
}
